.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content {
    max-width: 1200px; 
    width: auto; 
    margin: 0 auto; 
    padding: 15px; 
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.login-button {
    display: block; 
    margin: 0 auto; 
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.error-message {
    color: red;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .main-content {
        padding: 15px;
    }

    .error-message,
    .login-button {
        font-size: 14px;
    }
    
    .detailsTable th, .detailsTable td {
        padding: 5px;  /* Decrease padding on mobile devices */
        font-size: 12px;  /* Adjust font size for smaller screens */
    }
}

.item-fulfillment-table {
    width: 100%;
    max-width: 800px;  /* Or your desired width */
    margin: 0 auto; /* Centering */
}

.item-fulfillment-row:hover {
    background-color:lightyellow;
}

.selectedItem {
    background-color: lightyellow;
    font-weight: bold;
}

.responsive-table-container {
    overflow-x: auto; /* Adds horizontal scrolling */
    max-width: 100%; /* Ensures the table container doesn't extend past the screen */
}

.detailsTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.detailsTable th, .detailsTable td {
    border: 1px solid #ccc;
    padding: 10px;
}

.detailsTable th {
    background-color: #f7f7f7; /* A subtle background for table headers */
    text-transform: uppercase;
    font-size: 0.9em;
}

.refresh-button {
    display: block; 
    margin: 20px auto 10px; /* Space above the button and a little below */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none; /* Remove any default borders */
    background-color: #0d173a;
    color: white; /* White text */
    border-radius: 4px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth hover effect */
}

.refresh-button:hover {
    color: #ffc200; 
}

@media (max-width: 768px) {
    .refresh-button {
        font-size: 14px;
        padding: 8px 16px; /* Slightly smaller padding for smaller screens */
    }
}


.login-button{
  align-items: center;
  background-color: #ffc200;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.login-button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.login-button:hover:after {
  transform: translate(0, 0);
}

.login-button:active {
  background-color: #ffc200;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .login-button{
    padding: 0 40px;
  }
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #0d173a;
    color: #ffc200;
    text-align: center;
    margin-top: 20px;
    height: 4rem;
    width: 100%;
}
