header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #0d173a;
    color: #ffc200;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
}

nav {
    display: flex;
    gap: 15px;
    align-items: center;
}

nav a{
    background-color: #ffc200;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

nav a:hover{
    color: #fff;
}

@media (max-width: 768px) {
    h1 {
        font-size: 20px;
    }
}
